#wrapper
  #content
    #card
      #front
        #arrow
          i.fa.fa-arrow-left
        #top-pic
        #avatar
        #info-box
          .info
            h1 Jailson E. Ferens
            h2 Front-End Developer
        #social-bar
          a(href="https://br.linkedin.com/in/jailson-eduardo-ferens-6868a6149", target="_blank")
            i.fa.fa-linkedin

          a(href="https://github.com/Jailsonwin", target="_blank")
            i.fa.fa-github   
          a.more-info(href="#")
            i.fa.fa-user 

      #back
        .back-info
          p Me chamo Jailson Eduardo Ferens e sou estudante de Engenharia de Software. <br> Algumas das tecnologias que já trabalhei: HTML5 e CSS3 | SCSS | JavaScript | Java | .Net | PHP | SQLserver | React | Flutter | ShellScript | Zabbix | Active Directory | Microsoft Azure | Arquivos Layout FEBRABAN CNAB240 e CNAB400.

        #social-bar
          a(href="https://br.linkedin.com/in/jailson-eduardo-ferens-6868a6149", target="_blank")
            i.fa.fa-linkedin
          a(href="https://github.com/Jailsonwin", target="_blank")
            i.fa.fa-github 
          a.more-info(href="#")
            i.fa.fa-undo

    #background
      #background-image
